extends ../../../../app/views/layout-react

block entrypointVar
	- entrypoint = 'modules/admin-tools/pages/manage-projects'

block vars
	- const suppressNavContentLinks = true
	- const suppressNavbar = true
	- const suppressFooter = true
	- const suppressPugCookieBanner = true

block append meta
	meta(
		name='ol-prefetchedProjectsBlob'
		data-type='json'
		content=prefetchedProjectsBlob
	)
	if suggestedLanguageSubdomainConfig
		meta(
			name='ol-suggestedLanguage'
			data-type='json'
			content=Object.assign(suggestedLanguageSubdomainConfig, {
				lngName: translate(suggestedLanguageSubdomainConfig.lngCode),
				imgUrl: buildImgPath('flags/24/' + suggestedLanguageSubdomainConfig.lngCode + '.png'),
			})
		)
block content
	#manage-projects-root
